<section class="status">
    <div class="container mx-auto">
     <div class="w-2/3 mx-auto status-box pt-12">
         <div class="flex items-center justify-between mb-12">
          <h1 class="text-xl font-bold">Track delivery status</h1>
          <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs"><%=order._id%></h6>
          <input id="hiddenInput" type="hidden" value="<%=JSON.stringify(order)%>"/>
         </div>
         <div class="container">
           
                                  <div class="hh-grayBox pt-45 pb-20">
                                      <div class=" flex justify-between">
                                          <div data-status="order_placed" class="order-tracking ">
                                              <span class="is-complete"></span>
                                              <p>Order Placed<br></p>
                                          </div>
                                          <div data-status="confirmed" class="order-tracking ">
                                              <span class="is-complete"></span>
                                              <p>Order Confirmed<br></p>
                                          </div>
                                          <div data-status="prepared" class="order-tracking">
                                              <span class="is-complete"></span>
                                              <p>Order Prepared<br></p>
                                          </div>
                                          <div data-status="delivered" class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p>Order Delivered<br></p>
                                        </div>
                                        <div data-status="completed" class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p>Completed<br></p>
                                        </div>
                                      </div>
                                  </div>
                              
          </div>
     </div>
    </div>
</section>